<div class="login-page">
    <div class="form">
      <form [formGroup]="userForm" (ngSubmit)="onsubmit()">
        <input type="text" placeholder="name" formControlName="username"/> <br>
        <input type="password" placeholder="password" formControlName="password"/> <br>
        <input type="text" placeholder="email address" formControlName="email"/> <br>
        <button type="submit" class="button">create</button> <br><br>
        <p class="message" style="color: black;">Already registered? 
          <a style="color: black;" [routerLink]="['/login']">Sign In</a></p>
      </form>
    </div>
  </div>