// $base: #5BB9B8;
// $subtle: #54a1a0;
// $rain: #2C3845;
// $poppy: #BD2A4E;
// $mobile-small: 460px;
// $mobile: 720px;
// * {
//   box-sizing: border-box;
// }
// html,body {
//   &.open {
//     height: 100%;
//     overflow: hidden;
//   }
// }
// html {
//   padding: 40px;
//   font-size: 62.5%;
// }

// body {
//   padding: 20px;
//   background-color: $base;
//   line-height: 1.6;
//   -webkit-font-smoothing: antialiased;
//   color: #fff;
//   font-size: 1.6rem;
//   font-family: 'Lato', sans-serif;
// }
// form {
//   text-align: center;
//   margin: 20px 0 60px;
// }
// main {
//   background-color: $rain;
// }
// h1 {
//   text-align: center;
//   font-weight: 300;
// }
// table {
//   display: block;
// }
// tr,td,tbody, tfoot {
//   text-align: center;
//   display: block;
// }
// thead {
//   text-align: center;
//   display: none;
// }
// tr {
//   text-align: center;
//   padding-bottom: 10px;
//   color: #fff;
// }
// td {
//   padding: 10px 10px 0;
//   text-align: center;
//   &:before {
//     content: attr(data-title);
//     color: lighten($rain,35%);
//     text-transform: uppercase;
//     font-size: 1.4rem;
//     padding-right: 10px;
//     display: block;
//   }
// }
// table {
//   width: 100%;
// }

// th {
//   text-align: center;
//   text-align: left;
//   font-weight: 700;
// }
// thead {
//   th {
//     text-align: center;
//     background-color: darken($rain,6%);
//     color: #fff;
//     border: 1px solid darken($rain,6%);
//   }
// }
// tfoot {
//   th {
//     display: block;
//     padding: 10px;
//     text-align: center;
//     color: lighten($rain,55%);
//   }
// }

// .button {
//   line-height: 1;
//   display: inline-block;
//   font-size: 1.2rem;
//   text-decoration: none;
//   border-radius: 5px;
//   color: #fff;
//   padding: 8px;
//   margin: 5px;
//   background-color: darken($subtle,5%);
// }

// .search {
//   line-height: 1;
//   display: inline-block;
//   font-size: 1.2rem;
//   text-decoration: none;
//   border-radius: 5px;
//   // color: #fff;
//   padding: 4px;
//   margin: 5px;
//   background-color: white;
// }

// .select {
//   &:before {
//     display: none;
//   }
//   padding-bottom: 20px;
//   border-bottom: 1px solid darken($rain,2%);
// }
// .detail {
//   background-color: $poppy;
//   width: 100%;
//   height: 100%;
//   padding: 40px 0;
//   position: fixed;
//   top: 0;
//   left: 0;
//   overflow: auto;
// }
// .detail-container {
//   margin: 0 auto;
//   padding: 40px;
//   max-width: 500px;
// }

// dl {
//   margin: 0;
//   padding: 0;
// }
// dt {
//   font-size: 2.2rem;
//   font-weight: 300;
// }
// dd {
//   margin: 0 0 40px 0;
//   font-size: 1.8rem;
//   padding-bottom: 5px;
//   border-bottom: 1px solid darken($poppy,4%);
//   box-shadow: 0 1px 0 lighten($poppy,2%);
// }
// .close {
//   background: none;
//   padding: 18px;
//   color: #fff;
//   font-weight: 300;
//   border: 1px solid rgba(255,255,255,.4);
//   border-radius: 4px;
//   line-height: 1;
//   font-size: 1.8rem;
//   position: fixed;
//   right: 40px;
//   top: 20px;
//   &:hover, &:focus {
//     background-color: darken($poppy,5%);
//     border: 1px solid darken($poppy,5%);
//   }
// }
// @media (min-width: $mobile-small) {
//   td {
//     text-align: left;
//     &:before {
//       display: inline-block;
//       text-align: right;
//       width: 140px;
//     }
//   }
//   .select {
//     padding-left: 160px;
//   }
// }
// @media (min-width: $mobile) {
//   table {
//     display: table;
//   }
//   tr {
//     text-align: center;
//     display: table-row;
//   }
//   td,th {
//     display: table-cell;
//   }
//   tbody {
//     text-align: center;
//     display: table-row-group;
//   }
//   thead {
//     display: table-header-group;
//   }
//   tfoot {
//     display: table-footer-group;
//   }
//   td {
//       border: 1px solid darken($rain,2%);
//       text-align: center;
//     &:before {
//       display: none;
//     }
//   }
//   td,th {
//     padding: 10px;
//   }
//   tr:nth-child(2n+2) {
//     td {
//       background-color: darken($rain,4%);
//     }
//   }
//   tfoot th {
//     display: table-cell;
//   }
//   .select {
//     padding: 10px;
//   }
// }








// :root {
//   --fir-font-article: "adobe-garamond-pro", "Times New Roman", Times;
//   --fir-font-header: "foco", Helvetica;
//   --fir-blue-twitter-alpha: rgba(85, 172, 238, 0.6);
//   --fir-color-grey: rgba(0, 0, 0, 0.4);
// }

// body {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   min-height: 100vh;
// }

// .fir-clickcircle {
//   height: 80px;
//   width: 80px;
//   border-radius: 100px;
//   cursor: pointer;
// }

// .fir-image-figure {
//   margin: 0;
//   display: flex;
//   justify-content: end;
//   align-items: center;
//   margin-bottom: 40px;
//   position: relative;
//   text-decoration: none;
// }

// .fir-image-figure .caption,
// .fir-image-figure figcaption {
//   padding-right: 15px;
// }

// html.wf-active .fir-image-figure .fig-author-figure-title {
//   font-family: var(--fir-font-header);
//   font-size: 16px;
// }

// .fir-image-figure .fig-author-figure-title {
//   color: var(--fir-color-grey);
//   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
//     Helvetica, Arial, "Lucida Grande", sans-serif;
//   font-weight: 400;
//   font-size: 15px;
//   margin-top: 2px;
// }

// .fir-imageover {
//   position: relative;
//   display: flex;
// }

// .fir-imageover-color {
//   height: 80px;
//   width: 80px;
//   position: absolute;
//   background: var(--fir-blue-twitter-alpha);
//   background-image: none;
//   border-radius: 100px;
//   cursor: pointer;
//   transition: background 0.3s ease-in-out;
//   animation: fadeInFadeOut 2s infinite;
//   top: 0;
//   left: 0;
// }

// .fir-imageover-image {
//   position: absolute;
//   top: 0;
//   left: 0;
//   animation: fadeInFadeOut 2s infinite;
// }

// @keyframes fadeInFadeOut {
//   0% {
//     opacity: 1;
//   }
//   50% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 1;
//   }
// }


//-----------------------------------

h2{
  font-size: 40px;
  color: #9a616d;
  text-transform: uppercase;
  font-weight: 300;
  text-align: left;
  margin-bottom: 15px;
}
table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 19px;
  color: #9a616d;
  text-transform: uppercase;
}
td{
  padding: 30px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 20px;
  color: #9a616d;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}
i{
  font-size:x-large;
}


   /* CSS */
   .button {
    background: #9A616D;
    border: 1px solid #9A616D;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  .button:hover,
  .button:active {
    background-color: wheat;
    background-position: 0 0;
    color: black;
  }
  
  .button:active {
    opacity: .5;
  }

  //------Form design--------

  @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
}
.container{
  max-width: 800px;
  background: #fff;
  width: 800px;
  padding: 25px 40px 10px 40px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.container .text{
  text-align: center;
  font-size: 41px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container form{
  padding: 30px 0 0 0;
}
.container form .form-row{
  display: flex;
  margin: 32px 0;
}
form .form-row .input-data{
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}
form .form-row .textarea{
  height: 70px;
}
.input-data input,
.textarea textarea{
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
}
.input-data input:focus ~ label, .textarea textarea:focus ~ label,
.input-data input:valid ~ label, .textarea textarea:valid ~ label{
  transform: translateY(-20px);
  font-size: 14px;
  color: #3498db;
}
.textarea textarea{
  resize: none;
  padding-top: 10px;
}
.input-data label{
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}
.textarea label{
  width: 100%;
  bottom: 40px;
  background: #fff;
}
.input-data .underline{
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}
.input-data .underline:before{
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #3498db;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before{
  transform: scale(1);
}
.submit-btn .input-data{
  overflow: hidden;
  height: 45px!important;
  width: 25%!important;
}
.submit-btn .input-data .inner{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  transition: all 0.4s;
}
.submit-btn .input-data:hover .inner{
  left: 0;
}
.submit-btn .input-data input{
  background: none;
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
@media (max-width: 700px) {
  .container .text{
    font-size: 30px;
  }
  .container form{
    padding: 10px 0 0 0;
  }
  .container form .form-row{
    display: block;
  }
  form .form-row .input-data{
    margin: 35px 0!important;
  }
  .submit-btn .input-data{
    width: 40%!important;
  }
}